{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title|safe }}
{% endblock %}

{% block body %}
    {{ content|safe }}
    <form action="{% url 'encyclopedia:editpage' title %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="entry_title" value="{{ title }}">
            <button class="btn btn-primary" type="submit">Edit page</button>

            <a href="{% url 'encyclopedia:index' %}" style="margin-left: 20px;">Go to the main page</a>
        </form>
{% endblock %}
